@{
    ViewBag.Title = "Success";
}

    <div class="container">
        <div class="box">
            <strong>Thank you for ordering.Your food will be delivered to Blk 1 Abc Road #11-12
            at 1.30pm 26 April 2019</strong>
            <h2>Order summary</h2>
            <table class="table">
                <tr>
                    <th>Item </th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Wing Zone (Mandai)</td>
                    <td>$4.80</td>
                </tr>
                <tr>
                    <td>Popeyes (Toa Payoh)</td>
                    <td>$7.80</td>
                </tr>
                <tr>
                    <td>Oasis Steak & Grill </td>
                    <td>$8</td>
                </tr>
                <tr>
                    <td>
                        Bones N Barrels (Sentosa)
                    </td>
                    <td> $8.40</td>
                </tr>
            </table>

            <strong>Total:$29</strong>
            <p>Pls click below to go to the home page:</p>
            <a href="http://localhost:50765/">
                <button>Click here</button>
            </a>
        </div>
    </div>