@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="container">
            <div class="box">
                <h2>About</h2>
               
                <p>
                    <img style="float: left;width:170px;height:170px;margin:5px;" class="img-responsive" src="img/th6NUKSYRO.jpg" alt="">
                    ABC Food Catering is a company where people can order food through phone or online.We have been serving this company for over 30 years.
                    We provide food like:sushi,ramen ,nasi lemak and etc.Chefs catering believes in every meal that specially curated has made it possible 
                    for people to enjoy the food benefits. - Be it delicious, choices, healthy and so on in a convenience way.
                </p>
            </div>
            </div>
        </div>