@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="container">
            <div class="box">
                <h2>Login form</h2>
                <form action="/action_page.php">
                    <div class="form-group">
                        * <label for="customerid">CustomerID:</label>
                        <input type="text" class="form-control" id="text" placeholder="Enter CustomerID" name="id" required>
                    </div>
                    <div class="form-group">
                        * <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
                    </div>
                    

                        <a href="http://localhost:50765/Blog">
                            <input type="button" class="btn btn-default" value="Submit">
                        </a>
                </form>
            </div>
            </div>
        </div>